<div class="panel panel-default panel-table">
    <div class="panel-body" style="width:100%">
        {% include "detail_panels/timeline_filter.html" %}
    </div>
</div>
    
    
<div class="panel panel-primary">
    <div class="panel-body" style="width:100%">
        <div class = "panel-heading">
                <h2 class = "panel-title">
                    Timeline del usuario
                </h2>
            </div>
        <div class="panel-body" id="timeline_container">
            <h2>No se ha cargado el timeline</h2>
        </div>
    
    </div>
</div>