<div class="panel panel-default panel-table">
    <div class="panel-body" style="width:100%">
        <div class="row stacked">
            <div class="col-md-6">
                <div class="input-group push-down-10">
                    <span class="input-group-addon"><span class="fa fa-search"></span></span>
                    <input type="text" id="search_term_large" class="form-control" placeholder="Keywords..." value="{{search_term}}">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" onclick="makeQuery()">Search</button>
                    </div>
                </div>
                
                <div class="col-md-6 pull-left input-daterange input-group" id="datepicker">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="datepicker input-sm form-control" name="init_date">
                    
                    <span class="input-group-addon"> - </span>
                    
                    <input type="text" class="datepicker input-sm form-control" name="end_date">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6 pull-left">
                
                <div class="pull-right push-down-10" style="margin-left:15px;">
                        
                    <div class="col-md-5 input-group pull-left" style="margin-left:10px;">
                        <span class="input-group-addon">Sistema Operativo:</span>                        
                        <select class="form-control" id="os_filter">
                            {% for option in os_filters %}
                            <option value="{{option.value}}" {% if os == option.value %}selected{% endif %}>
                                {% if option.fa|length > 0 %}
                                <i class="fa {{option.fa}}"></i>
                                {% endif %}
                                {{option.title}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="col-md-5 input-group pull-right">
                        <span class="input-group-addon">Aplicaciones instaladas:</span>                        
                        <select class="form-control" id="apps_filter">
                            {% for option in apps_filters %}
                            <option value="{{option.value}}" {% if apps == option.value %}selected{% endif %}>
                                {% if option.fa|length > 0 %}
                                <i class="fa {{option.fa}}"></i>
                                {% endif %}
                                {{option.title}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="pull-right push-down-10" style="margin-left:15px;">

                    <div class="col-md-5 input-group pull-left" style="margin-left:10px;">
                        <span class="input-group-addon">Marca del dispositivo:</span>                        
                        <select class="form-control" id="brand_filter">
                            {% for option in brand_filters %}
                            <option value="{{option.value}}" {% if brand == option.value %}selected{% endif %}>
                                {% if option.fa|length > 0 %}
                                <i class="fa {{option.fa}}"></i>
                                {% endif %}
                                {{option.title}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5 input-group pull-right">
                            <span class="input-group-addon">Exploradores instalados:</span>                        
                        <select class="form-control" id="browser_filter">
                            {% for option in browser_filters %}
                            <option value="{{option.value}}" {% if browser == option.value %}selected{% endif %}>
                                {% if option.fa|length > 0 %}
                                <i class="fa {{option.fa}}"></i>
                                {% endif %}
                                {{option.title}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                </div>                                        
            </div>
        </div>
    </div>
</div>